body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#168be5+0,1e5799+100 */
    background: rgb(22,139,229); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(22,139,229,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(22,139,229,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(22,139,229,1) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#168be5', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
    color: #FFF4F4;
}

.card-container, .card{
    max-width: 500px;
    padding: 100px 30px;
}

.btn {
    font-weight: 700;
    height: 50px;
    cursor: default;
}

.card {
    background-color: #e5d4a5;
    padding: 20px 25px 20px;
    margin: 0 auto 25px;
    margin-top: 150px;
    border-radius: 2px;
    box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.5);
}

.form-signin #inputUsername,
.form-signin #inputPassword {
    text-align: center;
    direction: ltr;
    height: 45px;
    font-size: 25px;
}

.form-signin input[type=username],
.form-signin input[type=password],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.form-signin .form-control {
    border-radius: 30px;
}

.btn.btn-signin {
    background-color: rgb(85, 96, 101);
    padding: 0px;
    font-weight: 100;
    font-size: 25px;
    height: 40px;
    border-radius: 3px;
    border: none;
    transition: all 0.8s;
}